{% form_theme form 'CoreResourcesBundle:Form:fields.html.twig' %}
{{ form_stylesheet(form) }}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        var $field = $('#core_fileserverbundle_filetype_file_upload');
        var $form = $field.closest('form');
        var $queue = $('#core_fileserverbundle_filetype_file_queue');
        var $nbQueue = 0;

        var $configs = $.extend({
            "script":"genemu_upload",
            "swf":"\/bundles\/coreresources\/uploadify\/uploadify.swf",
            "cancelImg":"\/bundles\/genemuform\/images\/cancel.png",
            "folder":"\/upload",
            "auto":true,
            "multi":false,
            "uploader":"\/app_dev.php\/genemu_upload",
            "queueID":"core_fileserverbundle_filetype_file_queue",
            "removeCompleted": false
        }, {
            onUploadSuccess: function(file, data, response) {
                data = jQuery.parseJSON(data);

                if (data.result == '1') {
                    var value = data.file;

                    $('#core_fileserverbundle_filetype_file').val(value);
                    $nbQueue--;

                    $("#core_fileserverbundle_filetype_file_upload").css('display', 'none');

                } else {
                    alert('Error');
                }
            },
            onSelect: function(file) {
                $nbQueue++;
            },
            onUploadError: function(file, errorCode, errorMsg, errorString) {
                alert('error');
            }
        });

        $form.submit(function(event) {
            return $joinFiles();
        });

        var $joinFiles = function() {
            if ($files = $field.data('files')) {
                $field.val($files.join(','));
            }

            return true;
        }

        $field.uploadify($configs);
    });
</script>
<script type="text/javascript" src="{{ asset('bundles/coreresources/uploadify/jquery.uploadify.min.js') }}"></script>
<link href="{{ asset('bundles/coreresources/uploadify/uploadify.css') }}" rel="stylesheet">

<form class="form form-horizontal" method="post" {{ form_enctype(form) }} action="{{ path('core_fileserver_uploader', {'redirect': redirect}) }}">
<fieldset>

                        <!-- General form elements -->
                        <div class="widget row-fluid">

                            <div class="well">
                            <div class="span6">
                                {{ form_row(form.title) }}
                                {{ form_row(form.file) }}
                                {{ form_row(form.public) }}
                            </div>
                            <div class="span6">
  <div class="control-group">
    {{ form_label(form.permissions) }}
    <ul id="perm-fields-list" data-prototype="{{ form_widget(form.permissions.vars.prototype) | e }}">

        {% for emailField in form.permissions %}
            <li>
                {{ form_errors(emailField) }}
                {{ form_widget(emailField) }}
                <a href="#" id="delete-another-email">Añadir un nuevo permiso</a>
            </li>
        {% endfor %}
    </ul>
    
    <a href="#" id="add-another-perm">Añadir un nuevo permiso</a>
    {{ form_row(form._token) }}
    </div>
                            </div>

    <div style="text-align:center; clear:both; margin-bottom: 10px">
    <input type="submit" class="btn btn-success btn-large">
    <br>
    </div>
    </div>
    </div>
    </fieldset>
</form>



<script type="text/javascript">
    // keep track of how many email fields have been rendered
    var emailCount = '{{ form.permissions | length }}';

    window.onload=function(){

        $('#add-another-perm').click(function() {
            var emailList = jQuery('#perm-fields-list');

            // grab the prototype template
            var newWidget = emailList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, emailCount);
            emailCount++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(jQuery('#perm-fields-list'));

            return false;
        });


    };
</script>
