<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        .headerTable {
            background-color: #64BADD;
            color: white;
            font-weight: 800;
            font-size: medium;
            padding-left: 15px;
            padding-top: 2px;
            margin-bottom: 5px;
            height: 20px;
            width: 945px;
        }

        .resalto {
            font-weight: 600;
            width: 200px;
            text-align: right;
        }

        .informe {
            font-size: xx-large;
            text-align: center;
            color: #615C5C;
        }

        .head {
            font-size: medium;
            text-align: center;
            font-weight: bold;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .table, .table2 {
            border: 2px solid #000000;
        }

        .table td, .table2 td {
            padding: 6px;
            height: 33px;

        }

        .table td {
            line-height: 20px;
            vertical-align: top;
            border-top: 2px solid #000000;
            border-left: 2px solid #000000;
        }

        .analitica-sangre tr td ul li span{
            float: right;
            margin-right: 50px;

        }
        .analitica-sangre tr td ul li span.resp-no{
        }

        .analitica-sangre tr td ul li span.resp-si{
            width: 15px;
            height: 15px;
            background: url({{ asset("bundles/userclient/images/tick.png") }});
            background-size: 15px;
        }


    </style>
</head>
<body style="margin: 0px; font-family: arial; font-size: 14px;">
<div style="width: 960px; padding: 25px;">
    <div style="min-height: 1200px">
        <table width="960px" style="margin-top: 26px;">
            <tr>
                <td width="400px" valign="top">
                    <img src="http://{{ app.request.host }}{{ asset("bundles/userclient/images/logo_teknon.png") }}"
                         style="height: 50px; padding-left: 119px;">
                    <div style="padding-left: 125px; color: #002a80; font-size: 10px">
                    <span style="font-size: 14px; font-weight: 500">CONSULTORIOS VILANA</span> &nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;desp. 195<br>
                    VILANA, 12 <span style="padding-left: 101px"> Tel. 933 933 195</span><br>
                    08022 BARCELONA <span style="padding-left: 61px">Fax 933 933 095</span><br>
                    www.gilvernet.com  <span style="padding-left: 27px"> centrogilvernet@gmail.com</span><br>
                    www.teknon.es
                    </div>

                </td>
                <td width="300px"></td>
                <td style="color: #002a80;font-size: 10px" valign="top">
                    <br><br><br>
                    <span style="font-size: 14px; font-weight: 500;">Dr. José M.ª Gil-Vernet Sedó</span><br>
                    Urologia<br>
                    Nº Col. 22.678
                </td>

            </tr>
        </table>

        <h3 style="margin-bottom: 40px; margin-top: 40px">Servicio de Radiología {{ radiografia.servicioRadiologia }}</h3>
        <h3 style="margin-bottom: 40px; margin-top: 40px">Sr/Sra {{ paciente.name }} {{ paciente.surname }}</h3>


        <table width="960px" class="analitica-sangre">
            <tr>
                <td valign="top" width="50%">
                    <ul style="list-style: none">
                        <li>Rx Tórax Frente {% if radiografia.rxToraxFrente %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>Rx Tórax Perfil {% if radiografia.rxToraxPerfix %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>Rx Simple abdomen {% if radiografia.simpleAbdomen %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>Urografía descendente {% if radiografia.urografiaDescendente %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>Cistouretrofrafías miccionales {% if radiografia.cistouretrografiaMicionales %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>Cistouretrofrafías postmiccional {% if radiografia.cistouretrografiasPostmiccional %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>Cistouretrofrafías retrogradas {% if radiografia.cistouretrografiaRetrograda %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>RMN prostática + espectrometria {% if radiografia.prostaica %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                    </ul>
                </td>

                <td valign="top" width="50%">
                    <ul style="list-style: none">
                        <li>Columbia (Cistografias miccionales) {% if radiografia.columbia %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>Ecografía Renal {% if radiografia.ecografiaRenal %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>Ecografía Vesical pre y postmiccional {% if radiografia.ecografiaVesical %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>Ecografía Próstatica suprapúbica {% if radiografia.ecografiaProstatica %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>Ecografía Prostática endorectal {% if radiografia.ecografiaProstaticaEndorectal %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>Ecografía escrotal {% if radiografia.ecografiaEscrotal %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>Flujometría {% if radiografia.flujometria %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>TAC Abdominopelviano {% if radiografia.tacAbdominopelviano %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>TAC torácico {% if radiografia.tacToracico %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                        <li>RMN abdominal {% if radiografia.rmnAbdominal %}<span class="resp-si"></span>{% else %}<span class="resp-no">-</span>{% endif %}</li>
                    </ul>
                </td>
            </tr>
        </table>


        {% if radiografia.orientacionDiagnostica is not null %}
            <h2>Orientación diagnóstica</h2>2>
            <br><br>
            {{ radiografia.orientacionDiagnostica }}

        {% endif %}

        <div style="float: right">
            <h4>Barcelona, {{ radiografia.createdAt|date('d/m/Y') }}</h4>
        </div>
    </div>
</div>
</body>
</html>
