<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        .headerTable {
            background-color: #64BADD;
            color: white;
            font-weight: 800;
            font-size: medium;
            padding-left: 15px;
            padding-top: 2px;
            margin-bottom: 5px;
            height: 20px;
            width: 945px;
        }

        .resalto {
            font-weight: 600;
            width: 200px;
            text-align: right;
        }

        .informe {
            font-size: xx-large;
            text-align: center;
            color: #615C5C;
        }

        .head {
            font-size: medium;
            text-align: center;
            font-weight: bold;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .table, .table2 {
            border: 2px solid #000000;
        }

        .table td, .table2 td {
            padding: 6px;
            height: 33px;

        }

        .table td {
            line-height: 20px;
            vertical-align: top;
            border-top: 2px solid #000000;
            border-left: 2px solid #000000;
        }

        .analitica-sangre tr td ul li span{
            float: right;
            margin-right: 50px;

        }
        .analitica-sangre tr td ul li span.resp-no{
            color:red;
        }

        .analitica-sangre tr td ul li span.resp-si{
            color:green;
        }


    </style>
</head>
<body style="margin: 0px; font-family: arial; font-size: 14px;">
<div style="width: 960px; padding: 25px;">
    <div style="min-height: 1200px">
        <table width="960px" style="margin-top: 26px;">
            <tr>
                <td width="400px" valign="top">
                    <img src="http://{{ app.request.host }}{{ asset("bundles/userclient/images/logo_teknon.png") }}"
                         style="height: 70px;">
                    <div style="padding-left: 20px; color: #002a80; font-size: 13px">
                    <span style="font-size: 16px; font-weight: 500">CONSULTORIOS VILANA</span> &nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;desp. 195<br>
                    VILANA, 12 <span style="padding-left: 101px"> Tel. 933 933 195</span><br>
                    08022 BARCELONA <span style="padding-left: 52px">Fax 933 933 095</span><br>
                    www.gilvernet.com  <span style="padding-left: 27px"> centrogilvernet@gmail.com</span><br>
                    www.teknon.es
                    </div>

                </td>
                <td width="300px"></td>
                <td style="color: #002a80;font-size: 13px" valign="top">
                    <br><br><br>
                    <span style="font-size: 16px; font-weight: 500;">Dr. José M.ª Gil-Vernet Sedó</span><br>
                    Urologia<br>
                    Nº Col. 22.678
                </td>

            </tr>
        </table>

        <h3 style="margin-bottom: 40px; margin-top: 40px; text-align: center">Ruego practiquen Estudio Urodinámico al paciente <br> {{ paciente.name }} {{ paciente.surname }}</h3>

        <h4>Diagnostico: {{ urodinamico.diagnostico|raw }}</h4>
        <div style="float: right">
            <h4>Barcelona, {{ urodinamico.createdAt|date('d/m/Y') }}</h4>
        </div>
    </div>
</div>
</body>
</html>
