{% set active = 'calendar' %}
{% extends '::layout.html.twig' %}

{% block section_nav %}
{% include 'UserProfesionalBundle:Event:menu.html.twig' %}
{% endblock %}
{% form_theme form 'CoreResourcesBundle:Form:fields.html.twig' %}
{% block panel %}
<br>
<h5 class="widget-name">
    <i class="icon-table"></i> Programar Cita
</h5>

    <div class="row-fluid">
        <div class="span12">
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Programar una cita, es la forma más fácil de administrar tus visitas virtuales. El sistema avisará automaticamente a tu cliente, y te permitirá registrar datos sobre la misma para que la gestión de la misma sea más simple
            </div>
        </div>
    </div>
<div class="widget">


    <form action="{{ path('profesional_add_event') }}" class="form form-horizontal" method="post" {{ form_enctype(form) }}>
            
            <fieldset>
                <div class="widget row-fluid">

                    <div class="span6">
                       <div class="widget">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <h6><i class="icon-time"></i> ¿Cuando será la consulta?</h6>
                                </div>
                            </div>
                            <div class="well body">
                                <div class="padded">
                                    {{ form_row(form.start_date) }}
                                    {{ form_row(form.hour_date) }}
                                    {{ form_row(form.duration) }}
                                </div>
                            </div>
                        </div>

                       
                    </div>
                    <div class="span6">
                       <div class="widget">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <h6><i class="icon-user"></i> ¿Quien estará en la consulta?</h6>
                                </div>
                            </div>
                            <div class="well body">
                                <div class="padded">
                                {{ form_row(form.client) }}
                                {{ form_row(form.notify) }}
                                {{ form_row(form.notify_at) }}
                                {{ form_rest(form) }}
                                </div>
                            </div>
                        </div>

                       
                    </div>

        <div style="clear:both"></div>
         <div style="text-align:center">
                <input type="submit" class="btn btn-success button green" value="Registrar evento"/>
            </div>
        
                </div>
                    </fieldset>


        


    </form>
</div>
{% endblock %}

{% block header_scripts %}

    <link href="{{ asset('bundles/coreresources/select2/select2.css') }}" rel="stylesheet" />
    <style>
        .timer_container select{
            width: 50px;
        }
    </style>
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}



    <script src="{{ asset('bundles/coreresources/select2/select2.js') }}"></script>
    <script src="{{ asset('bundles/coreresources/select2/select2_locale_es.js') }}"></script>

    {{ form_javascript(form) }}
{% endblock %}






