{% set active = 'clientes' %}
{% extends '::layout.html.twig' %}


{% block extra %}
    <script type="text/javascript" src="{{ asset('bundles/coreresources/js/bootstrap.min.js') }}"></script>
{% endblock %}
{% block panel %}
    <br>
    {% include 'UserProfesionalBundle:Clientes:buttons.html.twig' %}

    <div class="widget">
<div class="row-fluid">
<div class="span6">
    <h5 class="widget-name"><i class="icon-table"></i> Información del usuario</h5>
    <table class="table table-striped table-bordered box">
        <thead>
        <tr>
            <th colspan="2">Información del usuario</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Nombre completo:</td>
            <td><strong>{{ cliente.user.name }} {{ cliente.user.surname }}</strong></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ cliente.user.email }}</td>
        </tr>
        <tr>
            <td>Número de movil:</td>
            <td class="red">{{ cliente.user.mobile }}</td>
        </tr>
        <tr>
            <td>Alias:</td>
            <td>{{ cliente.alias }}</td>
        </tr>

        <tr>
            <td>Ver archivos compartidos:</td>
            <td><a href="{{ path('profesional_files', {'id': cliente.user.id}) }}">Ver archivos</a></td>
        </tr>

        <tr>
            <td>Peticion de analiticas:</td>
            <td><a href="#modalAnaliticas" role="button" data-toggle="modal">{{ cliente.analiticas|length }}</a></td>
        </tr>

        <tr>
            <td>Peticion de radiologias:</td>
            <td><a href="#modalRadiografia" role="button" data-toggle="modal">{{ cliente.radiografias|length }}</a></td>
        </tr>
        <tr>
            <td>Peticion de citologias:</td>
            <td><a href="#modalCitologias" role="button" data-toggle="modal">{{ cliente.citologias|length }}</a></td>
        </tr>

        <tr>
            <td>Peticion de estudios Urodinámico:</td>
            <td><a href="#modalUrodinamico" role="button" data-toggle="modal">{{ cliente.urodinamicos|length }}</a></td>
        </tr>

        <tr>
            <td>Peticion Recetas:</td>
            <td>
                <a href="#modalRecetas" role="button" data-toggle="modal">{{ cliente.recetas|length }}</a>
            </td>
        </tr>

        </tbody>
    </table>

</div>

<!-- Modal -->
<div id="modalRecetas" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Lista de recetas</h3>
    </div>
    <div class="modal-body">
        <p>
            {% if cliente.recetas is not empty %}
        <ul style="list-style: none">
            {% for receta in cliente.recetas %}
                <li><a class="btn" href="{{ path('professinal_recursos_decarga_receta', { 'id': receta.id}) }}">Descargar</a>
                    Peticion de receta expedida el dia {{ receta.createdAt|date('d/m/Y') }} </li>
            {% endfor %}
        </ul>
        {% else %}
            <code>No tienes recetas registradas</code>
        {% endif %}
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>

    </div>
</div>

<!-- Modal -->
<div id="modalAnaliticas" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Lista de analiticas</h3>
    </div>
    <div class="modal-body">
        <p>
            {% if cliente.analiticas is not empty %}
        <ul style="list-style: none">
            {% for analitica in cliente.analiticas %}
                <li><a class="btn" href="{{ path('professional_recursos_decarga_analitica', { 'id': analitica.id}) }}">Descargar</a>
                    Peticion de analitica expedida el dia {{ analitica.createdAt|date('d/m/Y') }} </li>
            {% endfor %}
        </ul>
        {% else %}
            <code>No tienes analiticas registradas</code>
        {% endif %}
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>

    </div>
</div>


<!-- Modal -->
<div id="modalCitologias" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Lista de citologias</h3>
    </div>
    <div class="modal-body">
        <p>
            {% if cliente.citologias is not empty %}
        <ul style="list-style: none">
            {% for citologia in cliente.citologias %}
                <li><a class="btn" href="{{ path('professinal_recursos_decarga_citologia', { 'id': citologia.id}) }}">Descargar</a>
                    Peticion de citologia expedida el dia {{ citologia.createdAt|date('d/m/Y') }} </li>
            {% endfor %}
        </ul>
        {% else %}
            <code>No tienes citologias registradas</code>
        {% endif %}
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>

    </div>
</div>


<!-- Modal -->
<div id="modalRadiografia" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Lista de radiografias</h3>
    </div>
    <div class="modal-body">
        <p>
            {% if cliente.radiografias is not empty %}
        <ul style="list-style: none">
            {% for radio in cliente.radiografias %}
                <li><a class="btn" href="{{ path('professinal_recursos_decarga_radiografia', { 'id': radio.id}) }}">Descargar</a>
                    Peticion de radiografia expedida el dia {{ radio.createdAt|date('d/m/Y') }} </li>
            {% endfor %}
        </ul>
        {% else %}
            <code>No tienes radiografias registradas</code>
        {% endif %}
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>

    </div>
</div>

<!-- Modal -->
<div id="modalUrodinamico" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Lista de estudios urodinamicos</h3>
    </div>
    <div class="modal-body">
        <p>
            {% if cliente.urodinamicos is not empty %}
        <ul style="list-style: none">
            {% for uro in cliente.urodinamicos %}
                <li><a class="btn" href="{{ path('professinal_recursos_decarga_urodinamico', { 'id': uro.id}) }}">Descargar</a>
                    Peticion de estudio urodinámico expedida el dia {{ uro.createdAt|date('d/m/Y') }} </li>
            {% endfor %}
        </ul>
        {% else %}
            <code>No tienes estudios urodinamicos registradas</code>
        {% endif %}
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>

    </div>
</div>


<div class="span6">
    <h5 class="widget-name"><i class="icon-table"></i> Recursos</h5>

    <a href="{{ path('profesional_clientes_add_analitica', {'idUser': cliente.user.id}) }}" class="btn">Añadir
        una analitica</a>
    <a href="{{ path('profesional_clientes_add_radiografia', {'idUser': cliente.user.id}) }}" class="btn">Añadir
        una radiografia</a>

    <a href="{{ path('profesional_clientes_add_urodinamico', {'idUser': cliente.user.id}) }}" class="btn">Añadir
        estudio Urodinámico</a>

    <a href="{{ path('profesional_clientes_add_receta', {'idUser': cliente.user.id}) }}" class="btn">Añadir
        Receta</a>


    <!-- Button to trigger modal -->
    <a href="#myModalCitologia" role="button" class="btn" data-toggle="modal">Añadir citologia</a>

    <!-- Modal -->
    <div id="myModalCitologia" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Añadir citologia</h3>
        </div>
        <div class="modal-body">
            <p><strong>¿Seguro que deseas añadir una citologia?</strong></p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <a href="{{ path('profesional_clientes_add_citologia', {'idUser': cliente.user.id}) }}"
               class="btn btn-primary">Sí, estoy seguro</a>
        </div>
    </div>
</div>


</div>


<div class="row" style="margin-top: 100px">
    <div class="span12">
        <h5 class="widget-name"><i class="icon-table"></i> Informes</h5>

        {% for r in cliente.reports %}
            <div class="widget">
                <div class="navbar">
                    <div class="navbar-inner"><h6>{{ r.title }}</h6></div>
                </div>
                <div class="well">
                    <blockquote style="margin-bottom: 10px; margin-left: 10px; margin-top:10px">
                        <p>{{ r.text|raw }}</p>
                    </blockquote>

                    <div class="control-group">
                        Nota escrita el {{ r.createdAt|date('d/m/Y H:i') }}, tipo "{{ r.type }}"
                    </div>
                </div>
            </div>


        {% else %}
            <div class="widget">
                <div class="navbar">
                    <div class="navbar-inner"><h6>No hay informes</h6></div>
                </div>
                <div class="well body">
                    <blockquote style="margin-bottom: 10px; margin-left: 10px; margin-top:10px">
                        No ha registrado ningún informe con este cliente.
                    </blockquote>

                </div>
            </div>
        {% endfor %}


    </div>
</div>

<div id="disableUser" class="black-box modal hide fade">
    <div class="modal-header tab-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <span>¿Desactivar cliente?</span>
    </div>
    <div class="modal-body separator">
        <h4>A continuación se procedera a eliminar la información
            de {{ cliente.user.name }} {{ cliente.user.surname }}</h4>

        <p>
            <a href="{{ path('profesional_clientes_disable', {'idClient': cliente.id }) }}"
               class="btn btn-danger btn-large">Aceptar, elimina la información</a>
            <a class="btn btn-large" data-dismiss="modal">Cancelar</a>
        </p>
    </div>

</div>
{% endblock %}