<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Profesional :: Comunicación directa</title>

    <link href="{{ asset('bundles/coreresources/theme/stylesheets/application.css') }}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/coreresources/css/custom.css') }}" media="screen" rel="stylesheet" type="text/css" />
    {% block header_scripts %}{% endblock %}


    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
</head>
<body>

<div id="modal" class="black-box modal hide fade">
    <div class="modal-header tab-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <span>Some modal title</span>
    </div>
    <div class="modal-body separator">
        <h4>Text in a modal</h4>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>
    </div>
    <div class="modal-footer">
        <div class="inner-well">
            <a class="button mini rounded light-gray" data-dismiss="modal">Close</a>
            <a class="button mini rounded blue">Save changes</a>
        </div>
    </div>
</div>

<div id="modal-gallery" class="black-box modal modal-gallery hide fade">
    <div class="modal-header tab-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <span class="modal-title"></span>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <div class="pull-left">
            You can also change the images<br/> by scrolling the mouse wheel!
        </div>
        <div class="pull-right">
            <a class="button blue modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
            <a class="button gray modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
            <a class="button green modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
            <a class="button black" target="_blank"><i class="icon-download"></i> Download</a>
        </div>
    </div>
</div>
<nav id="primary" class="main-nav">
    <ul>
    
        {% block nav_primary %}{% if app.user is not empty %}
            {% if app.user.hasRole('ROLE_PROFESIONAL') %}
                <li class="{% if active == 'consulta' %}active{% endif %}">
                    <a href="{{ path('profesional_consulta') }}">
                        <i class="icon-facetime-video"></i> Consulta
                    </a>
                </li>

                <li class="{% if active == 'clientes' %}active{% endif %}">
                    <a href="{{ path('profesional_clientes') }}">
                        <i class="icon-user"></i> Mis clientes
                    </a>
                </li>

                <li class="{% if active == 'settings' %}active{% endif %}">
                    <a href="{{ path('profesional_settings') }}">
                        <i class="icon-wrench"></i> Area personal
                    </a>
                </li>

                <li class="">
                    <a href="{{ path('fos_user_security_logout') }}">
                        <i class="icon-remove"></i> Logout
                    </a>
                </li>

            {% endif %}
            {% if app.user.hasRole('ROLE_CLIENTE') %}
                <li class="">
                    <a href="{{ path('client_consulta') }}">
                        <i class="icon-facetime-video"></i> Consulta
                    </a>
                </li>
                <li class="">
                    <a href="{{ path('client_settings') }}">
                        <i class="icon-wrench"></i> Area personal
                    </a>
                </li>
                <li class="">
                    <a href="{{ path('fos_user_security_logout') }}">
                        <i class="icon-remove"></i> Logout
                    </a>
                </li>

            {% endif %}
        {% endif %}{% endblock %}

    </ul>
</nav>


{% block nav_secondary %}
<nav id="secondary" class="main-nav">

    <div class="profile-menu">

        <div class="pull-left">
            <div class="avatar">
                <img src="../../images/avatar.png" />
            </div>
        </div>

        <div class="pull-left">
            <div class="title">
                Plastique
            </div>
            <div class="btn-group">
                <button class="button mini inset black"><i class="icon-search"></i></button>
                <button class="button mini inset black">Projects</button>
                <button class="button mini inset black dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
                <ul class="dropdown-menu black-box-dropdown">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>

            </div>
        </div>

        <div class="pull-right profile-menu-nav-collapse">
            <button class="button black"><i class="icon-reorder"></i></button>
        </div>

    </div>

    <ul class="secondary-nav-menu">
        <li class="active">
            <a href="stats.html">
                <i class="icon-dashboard"></i> Stats
            </a>
        </li>

        <li>
            <a href="#" id="modal-link">
                <i class="icon-random"></i> Open Modal
            </a>
        </li>

        <li id="notification-full-image">
            <a href="#">
                <i class="icon-list-alt"></i> Notification #1
            </a>
        </li>

        <li id="notification-small-image">
            <a href="#">
                <i class="icon-table"></i> Notification #2
            </a>
        </li>
    </ul>

</nav>
{% endblock %}



<section id="main">
    <div style="padding: 10px"></div>
<div class="container-fluid" >
<div class="row-fluid">
{% block panel %}

{% endblock %}
</div>


<div class="row-fluid">
    <div class="span12">
        <div class="footer">
            <div>2013 &copy; Profesional </div>
            <div>Carefully developed by 3media</div>
        </div>
    </div>
</div>
</div>
</section>
{% raw %}
<script type="text/html" id="template-notification">
  <div class="notification animated fadeInLeftMiddle fast{{ item.itemClass }}">
    <div class="left">
      <div style="background-image: url({{ item.imagePath }})" class="{{ item.imageClass }}"></div>
    </div>
    <div class="right">
      <div class="inner">{{ item.text }}</div>
      <div class="time">{{ item.time }}</div>
    </div>

    <i class="icon-remove-sign hide"></i>
  </div>
</script>
<script type="text/html" id="template-notifications">
  <div class="container">
    <div class="row" id="notifications-wrapper">
      <div id="notifications" class="{{ bootstrapPositionClass }} notifications animated">
        <div id="dismiss-all" class="dismiss-all button blue">Dismiss all</div>
        <div id="content">
          <div id="notes"></div>
        </div>
      </div>
    </div>
  </div>
</script>
{% endraw %}
{% block javascripts %}{% endblock %}
<script src="{{ asset('bundles/coreresources/theme/javascripts/application.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/coreresources/theme/javascripts/docs.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/coreresources/theme/javascripts/docs_charts.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/coreresources/theme/javascripts/documentation.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/coreresources/theme/javascripts/prettify.js') }}" type="text/javascript"></script>
<link href="{{ asset('bundles/coreresources/theme/stylesheets/prettify.css') }}" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    prettyPrint()
    $(function(){
    {% for flashMessage in app.session.flashbag.get('notice') %}
        Notifications.push({
            text: "{{ flashMessage }}",
            autoDismiss: 3,
            bootstrapPositionClass: "notice"
          });
        
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        Notifications.push({
            text: "{{ flashMessage }}",
            autoDismiss: 3,
            bootstrapPositionClass: "error"
          });
        
    {% endfor %}
    })

</script>

</body>
</html>
