{% block nav_secondary %}
<nav id="secondary" class="main-nav">
    <div class="profile-menu">

        <div class="pull-left">
            <div class="avatar">
                <img src="{{ asset('bundles/coreresources/theme/images/avatar.png') }}" />
            </div>
        </div>

        <div class="pull-left">
            <div class="title">
                Lista de usuarios
            </div>

        </div>

        <div class="pull-right profile-menu-nav-collapse">
            <button class="button black"><i class="icon-reorder"></i></button>
        </div>

    </div>




    {{ render(controller('CoreCallBundle:Call:contacts', { 'consulta': true })) }}
</nav>
{% endblock %}
{% block header_scripts %}
    <script src="{{ asset('bundles/coreresources/js/jquery.js') }}"></script>
    <!-- open tok init -->
    <script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js" ></script>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <script type="text/javascript" src="http://{{ app.request.host }}:2021/socket.io/socket.io.js"></script>
    <script type="text/javascript">

        //call vars
        var callRouteToSocket = "http://{{ app.request.host }}:2021";
        var callRouteToSocketChat = "http://{{ app.request.host }}:8052";
        var callRouteToRetrieveInfoUser = "{{  path('core_call_retrieve_info_user') }}";
        var callRouteToXmlFlashphonerConfiguration = "{{ path('core_call_resources_config_xml') }}";

        var callMyId = {{ app.user.id }};

    </script>
    <script type="text/javascript">

        $(document).ready(function() {

            callhandler.init();
        });
    </script>
    <!-- <link href="{{ asset('bundles/corecall/css/chat.css') }}" rel="stylesheet"> -->

    <script type="text/javascript" src="{{ asset('bundles/corecall/scripts/handlerhtml5.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/corecall/scripts/sockethtml5.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/corecall/scripts/contacts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/corecall/scripts/notifications.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/corecall/scripts/videoconferencehtml5.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/corecall/scripts/chat.js') }}"></script>


    <script type="text/javascript" src="{{ asset('bundles/coreresources/js/jquery.form.js') }}"></script>


{% endblock %}
{% block panel %}

        <div class="row-fluid">

            {{ render(controller('CoreCallBundle:Call:notifications')) }}
            {% include "CoreCallBundle:Call:videoconferencehtml5.html.twig" %}
        </div>

    <div class="row-fluid">
        <div class="span5">
            {% include 'CoreCallBundle:Call:contactuser.html.twig' %}
            
            {% include 'CoreCallBundle:Call:videoconferencecontrols.html.twig' %}
        </div>

        
    </div>

{% endblock %}