{% set active = 'files' %}
{% extends '::layout.html.twig' %}
{% form_theme form 'CoreResourcesBundle:Form:fields.html.twig' %}
{% block panel %}
    <ul class="round-buttons">
        <li><div class="depth"><a href="{{ path('profesional_files') }}" data-toggle="tooltip" data-original-title="Lista de archivos"><i class="icon-list"></i> Lista de  Archivos<strong></strong></a></div></li>
        <li><div class="depth"><a href="{{ path('profesional_files_add') }}" data-toggle="tooltip" data-original-title="Añadir archivo"><i class="icon-plus"></i> Añadir Archivo<strong></strong></a></div></li>
        <li><div class="depth" style="background-color: rgb(166, 241, 53);"><a href="javascript:history.go(-1)" data-toggle="tooltip" title="Volver Atrás"><i class="icon-arrow-left"></i></a></div></li>
    </ul>

    <h5 class="widget-name">
        <i class="icon-table"></i> Editar información de un archivo
    </h5>


    <form method="post" {{ form_enctype(form) }} action="{{ path('profesional_files_edit_permissions', {'hash': file.hash}) }}">
        <fieldset>
            <div class="widget row-fluid">
                <div class="well">
                    {{ form_row(form.title) }}
                    {{ form_row(form.public) }}

                    <div class="control-group">
                        {{ form_label(form.permissions) }}
                        <a href="#" id="add-another-perm" class="btn btn-info">Añadir un nuevo permiso</a>
                        <div id="perm-fields-list" data-prototype="{{ form_widget(form.permissions.vars.prototype) | e }}">
                            {% for emailField in form.permissions %}
                                <div class="span4">

                                    {{ form_errors(emailField) }}
                                    {{ form_widget(emailField) }}

                                </div>
                            {% endfor %}
                        </div>


                    </div>

                    <div style="clear:both"></div>
                    {{ form_widget(form) }}



                </div>
            </div>
        </fieldset>
        <div style="text-align: center">
            <a href="{{ path('profesional_files_remove', {'id': file.id}) }}" class="btn btn-danger btn-large">Eliminar archivo</a>
            <input type="submit" class="btn btn-success btn-large" value="Editar">
        </div>
    </form>



    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var emailCount = '{{ form.permissions | length }}';

        window.onload=function(){

            $('#add-another-perm').click(function() {
                var emailList = jQuery('#perm-fields-list');

                // grab the prototype template
                var newWidget = emailList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, emailCount);





                // create a new list element and add it to the list
                var newLi = jQuery('<div class="span4"></div>').html(newWidget);
                newLi.appendTo(jQuery('#perm-fields-list'));

                var $field =$("#core_fileserverbundle_filetype_permissions_"+emailCount+"_user");

                $field.select2({"placeholder":"Select a value","allowClear":false,"minimumInputLength":0,"width":"element"});
                emailCount++;
                return false;
            });

            $('#delete-perm').click(function() {
               $(this).parent().remove();

            });
        };
    </script>

{% endblock %}
{% block header_scripts %}

    <style>
      #perm-fields-list{
          background-color: black;
      }
      #perm-fields-list div{
        margin-left: 0%;


      }
    </style>
    <link href="{{ asset('bundles/coreresources/select2/select2.css') }}" rel="stylesheet" />
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}



    <script src="{{ asset('bundles/coreresources/select2/select2.js') }}"></script>
    <script src="{{ asset('bundles/coreresources/select2/select2_locale_es.js') }}"></script>

    {{ form_javascript(form) }}
{% endblock %}