{% form_theme form 'CoreResourcesBundle:Form:fields.html.twig' %}
<link rel="stylesheet" type="text/css"
      href="{{ asset('bundles/coreresources/wyswyg/bootstrap-wysihtml5-0.0.2.css') }}"/>
<script src="{{ asset('bundles/coreresources/js/jquery.form.js') }}"></script>
<script src="{{ asset('bundles/coreresources/wyswyg/lib/js/wysihtml5-0.3.0.js') }}"></script>

<script src="{{ asset('bundles/coreresources/wyswyg/bootstrap-wysihtml5-0.0.2.js') }}"></script>
<script src="{{ asset('bundles/coreresources/wyswyg/lib/bootstrap-wysihtml5.es-ES.js') }}"></script>
<style type="text/css" media="screen">
    .btn.jumbo {
        font-size: 20px;
        font-weight: normal;
        padding: 14px 24px;
        margin-right: 10px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }


</style>
<div id="ContentViewer">
    <ul class="nav nav-tabs" id="tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Historico del cliente</a></li>
        <li><a href="#tab2" data-toggle="tab">Otros</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="padded" id="list-informs-container">
                {% for r in entity.reports %}
                    <p>
                                <span style="display: inline-block; min-width: 250px;"><a
                                            role=tabs-informes
                                            class="btn"
                                            target="{{ r.id }}">{{ r.title|truncate(30) }}</a></span>


                        <span>{{ r.createdAt|date('d/m/Y H:i') }}</span>
                    </p>
                {% else %}

                    <p>
                        <strong>No existen reportes</strong>
                    </p>
                {% endfor %}

            </div>

            <div class="padded hide" id="inform-container">
                {% for r in entity.reports %}
                    <div class="widget hide" role="inform" id="informeCliente{{ r.id }}">
                        <div class="navbar">
                            <div class="navbar-inner"><h6>{{ r.title }}</h6></div>
                        </div>
                        <div class="well">
                            <blockquote style="margin-bottom: 10px; margin-left: 10px; margin-top:10px">
                                <p>{{ r.text|raw }}</p>
                            </blockquote>

                            <div class="control-group">
                                Nota escrita el {{ r.createdAt|date('d/m/Y H:i') }}, tipo "{{ r.type }}"
                            </div>
                        </div>
                        <a class="btn btn-success" data-role="close-informe">Volver</a>
                    </div>




                {% else %}
                    <div class="widget">
                        <div class="navbar">
                            <div class="navbar-inner"><h6>No hay informes</h6></div>
                        </div>
                        <div class="well body">
                            <blockquote style="margin-bottom: 10px; margin-left: 10px; margin-top:10px">
                                No ha registrado ningún informe con este cliente.
                            </blockquote>

                        </div>
                    </div>
                {% endfor %}


            </div>

        </div>

        <div class="tab-pane" id="tab2">
            <div class="padded">
                <a class="button green" onclick="javascript:pivotreport('report')">Añadir nuevo informe</a>
                <a href="javascript:videoconferenceStart()" class="button grey">Recargar lista</a>


            </div>
        </div>


    </div>


</div>

<div class="row hide" id="addReportContent">
    <h5 class="widget-name"><i class="icon-plus"></i>Añadir un nuevo informe</h5>
    <div class="span12">
        <div class="box">

            <form method="post" class="form form-horizontal" {{form_enctype(form) }}>
                <fieldset>

                    <!-- General form elements -->
                    <div class="widget row-fluid">

                        <div class="well">
                            {{ form_rest(form) }}

                        </div>
                    </div>
                    <!-- /general form elements -->

                </fieldset>
                <div style="text-align:center">
                    <a  class="btn button green" onclick="javascript:pivotreport('show')">Volver</a>
                    <input type="submit" class="btn button blue" value="Registrar informe">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("a[data-role=close-informe]").on('click', function (event) {
        $("#inform-container").addClass('hide');

        $parent = $(this).parent();
        $parent.addClass('hide');
        $("#list-informs-container").removeClass('hide');
        $("a[role=inform]").addClass("hide");
    });

    $("a[role=tabs-informes]").on('click', function (event) {

        var informetarget = $(this).attr('target');

        $("#list-informs-container").addClass('hide');
        $("#inform-container").removeClass('hide');
        $("#informeCliente" + informetarget).removeClass('hide');



    });

    function pivotreport(target) {
        if (target == 'report') {
            $("#addReportContent").fadeIn();
            $("#ContentViewer").fadeOut();
        }
        if (target == 'show') {
            $("#addReportContent").fadeOut();
            $("#ContentViewer").fadeIn();
        }
    }

    $(document).ready(function () {
        // bind 'myForm' and provide a simple callback function
        $('#formAddReport').ajaxForm(function (data) {
            if (data == 'Ok') {
                videoconferenceStart();
                Notifications.push({
                    text: "Reporte añadido con éxito",
                    autoDismiss: 3,
                    bootstrapPositionClass: "notice"
                });
            } else {
                Notifications.push({
                    text: "Ha habido un error al añadir el reporte :(",
                    autoDismiss: 3,
                    bootstrapPositionClass: "error"
                });
            }

        });
    });

</script>


<script>
    $('.textarea').wysihtml5({
        "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
        "emphasis": true, //Italics, bold, etc. Default true
        "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
        "html": false, //Button which allows you to edit the generated HTML. Default false
        "link": false, //Button to insert a link. Default true
        "image": false, //Button to insert an image. Default true,
        "color": false, //Button to change color of font
        "locale": "es-ES"
    });
</script>