{% set active = 'professional' %}
{% extends '::layout.html.twig' %}
{% block aside %}
    <!-- blank -->
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/coreresources/colorpicker/css/colorpicker.css') }}" rel="stylesheet"/>
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/coreresources/colorpicker/js/colorpicker.js') }}"></script>
    {{ form_javascript(form) }}
{% endblock %}
{% block panel %}

    <div class="span8 offset2 wizard">
        <h1>Último Paso</h1>

        <div class="box">
            <div class="tab-header">
                Personaliza tu consulta profesional
            </div>
            <form id="form" method="post" class="fill-up" {{ form_enctype(form) }}>
                <div class="padded">
                    <div class="row">
                        <div class="span4 offset2">
                            <h3>Logotipo</h3>
                            <span>Dimensiones recomendadas: 500x180</span>
                        </div>
                        <div class="span6">
                            {{ form_widget(form.file) }}
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="span4 offset2">
                            <h3>Color Frontal</h3>
                            <span>Color del fondo de la consulta</span>
                        </div>
                        <div class="span4">
                            {{ form_widget(form.color_bg_main) }}
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="span4 offset2">
                            <h3>Color Caja</h3>
                            <span>Color de la caja de "identificación" de la plataforma</span>
                        </div>
                        <div class="span4">
                            {{ form_widget(form.color_bg_secd) }}
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="span4 offset2">
                            <h3>Color de los Botones</h3>
                            <span>Color de los botones de la consulta</span>
                        </div>
                        <div class="span4">
                            {{ form_widget(form.color_button) }}
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="span4 offset2">
                            <h3>Color del Texto</h3>
                            <span>Color del texto de los botones</span>
                        </div>
                        <div class="span4">
                            {{ form_widget(form.color_text_button) }}
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="span4 offset2">
                            <h3>Su nombre en varavan</h3>
                            <span style="color: #555;">Importante! Este nombre será el que se utilizará en su acceso, solo se permiten carácteres alfanuméricos</span>
                        </div>
                        <div class="span4">
                            {{ form_widget(form.professional.user.username) }}
                        </div>

                    </div>




                    {{ form_widget(form._token) }}
                    <hr>
                    <input type="submit" class="btn btn-block btn-success" value="Guardar cambios">
                </div>
            </form>
        </div>
    </div>

   
{% endblock %}
{% block extra_javascripts %}
 <script>
    jQuery(function(){
        jQuery("#form").submit(function(e) {
            var self = this;
            e.preventDefault();
            var letters = /^[a-zA-Z0-9]+$/;
            var username = jQuery("#user_profesionalbundle_stylestype_professional_user_username").val();
            if(letters.test(username)){
                self.submit();    
            }else{
                jQuery("#user_profesionalbundle_stylestype_professional_user_username").css("background-color","rgb(231, 151, 76)")
            }
            return false;
        });
        jQuery("#user_profesionalbundle_stylestype_professional_user_username").focus(function(){
            jQuery("#user_profesionalbundle_stylestype_professional_user_username").css("background-color","white")
            
        })
    })
    
    </script>
{% endblock %}
{% block nav_secondary %}
    {% include 'UserAdminBundle:Professional:menu.html.twig' %}
{% endblock %}