{% extends '::layout.html.twig' %}
{% set active = 'settings' %}
{% block section_nav %}

<ul class="round-buttons">
    <li>
      <div class="depth {% if secondary_active == 'settings' %} active{% endif %}">
        <a href="{{ path('profesional_settings') }}"  data-toggle="tooltip" title="Cuenta"><i class="icon-cog"></i> Cuenta<strong></strong></a></div>
    </li>
    <li>
      <div class="depth {% if secondary_active == 'styles' %} active{% endif %}">
        <a href="{{ path('profesional_style') }}"  data-toggle="tooltip" title="Personalizar consulta"><i class="icon-picture"></i> Personalizar<strong></strong></a></div>
    </li>
    <li>
        <div class="depth {% if secondary_active == 'custom_home' %} active{% endif %}">
            <a href="{{ path('profesional_custom_home') }}"  data-toggle="tooltip" title="Personalizar página de inicio"><i class="icon-home"></i> Personalizar inicio<strong></strong></a></div>
    </li>
    <li>
      <div class="depth {% if secondary_active == 'plans' %} active{% endif %}">
        <a href="{{ path('profesional_plans') }}"  data-toggle="tooltip" title="Planes y Pagos"><i class="icon-credit-card"></i> Pagos<strong></strong></a></div>
    </li>


</ul>

        {#
      <a class="button large{% if secondary_active == 'files' %} active{% endif %}" href="{{ path('profesional_files') }}">
          <i class="icon-barcode"></i>
          <span></span>
      </a>
      #}


    {% endblock %}