{% block section_nav %}

<ul class="round-buttons">
    <li class="{% if active_sales == 'admin_sales_products' %}active{% endif %}"><div class="depth"><a href="{{ path('admin_sales_products') }}" data-toggle="tooltip" title="Productos"><i class="icon-lock"></i> Productos<strong></strong></a></div></li>
    

    <li class="{% if active_sales == 'admin_sales_plans' %}active{% endif %}"><div class="depth"><a href="{{ path('admin_sales_plans') }}" data-toggle="tooltip" title="Planes"><i class="icon-tags"></i> Planes<strong></strong></a></div></li>


    <li class="{% if active_sales == 'admin_sales_pays_history' %}active{% endif %}"><div class="depth"><a href="{{ path('admin_sales_pays_history', {'firstResult': 0, 'maxResult': 10}) }}" data-toggle="tooltip" title="Registro de Pagos"><i class="icon-gift"></i> Registro de Pagos<strong></strong></a></div></li>


    <li class="{% if active_sales == 'admin_sales_plan_history' %}active{% endif %}"><div class="depth"><a href="{{ path('admin_sales_plan_history') }}" data-toggle="tooltip" title="Registro de Suscripciones"><i class="icon-list"></i> Registro de Suscripciones<strong></strong></a></div></li>

    <li class="{% if active_sales == 'admin_sales_tools' %}active{% endif %}"><div class="depth"><a href="{{ path('admin_sales_tools') }}" data-toggle="tooltip" title="Herramientas"><i class="icon-wrench"></i> Herramientas<strong></strong></a></div></li>

    <li class="{% if active_sales == 'admin_sales_promotions' %}active{% endif %}"><div class="depth"><a href="{{ path('admin_sales_promotions') }}" data-toggle="tooltip" title="Promociones"><i class="icon-qrcode"></i> Promociones<strong></strong></a></div></li>
    <li class="{% if active_sales == 'admin_sales_commissions' %}active{% endif %}"><div class="depth"><a href="{{ path('admin_sales_commissions') }}" data-toggle="tooltip" title="Comisiones"><i class="icon-book"></i> Comisiones<strong></strong></a></div></li>
</ul>


{% endblock %}