{% set callContactMiniumNumUsersToHide = 4 %}
{% if users is defined %}
    <script type="text/javascript">
        var callContactMiniumNumUsersToHide = {{ callContactMiniumNumUsersToHide }};
        var callNumContacts = {{ numUsers }};
    </script>
    <div class="hide callLoading1">
        <div class="progress progress-striped">
            <div class="bar" style="width: 100%;"></div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px">
        <div class="span2">
            <input type="text" placeholder="Búsqueda" class="search contactlistsearch"
                   style="margin-bottom: 0px;width: 193px; margin-left: 3px; height: 40px">
        </div>
    </div>

    <ul class="secondary-nav-menu">
        {% for user in users %}
            {% if user.id != app.user.id %}
                <li
                        data-id="{{ user.id }}"
                        data-show="1"
                        data-status="0"
                        {# data-image="{{ user.webPath  }}" #}
                        data-name="{{ user.name }}"
                        data-surname="{{ user.surname }}"
                        data-fullname="{{ user.name|lower }} {{ user.surname|lower }}"
                        {% if user.hasRole('ROLE_PROFESIONAL') %}
                            data-role="profesional"
                        {% elseif user.hasRole('ROLE_COLLABORATOR') %}
                            data-role="collaborator"
                        {% else %}
                            data-role="client"
                        {% endif %}

                        {% if numUsers > callContactMiniumNumUsersToHide %}
                            class="hide"
                        {% endif %}
                        >
                    <a>

                    {% if user.hasRole('ROLE_PROFESIONAL') %}
                        <i class="icon-star"></i>
                    {% elseif user.hasRole('ROLE_COLLABORATOR') %}
                        <i class="icon-headphones"></i>
                    {% else %}
                        <i class="icon-user"></i>
                    {% endif %}
                        {{ [user.name," ", user.surname]|join|truncate(14) }}



                    {% if iOSApp is defined and iOSApp == true %}
                        <span class="label label-important"
                              style="float:right; margin-top: 10px; margin-right: 17px;">OFF</span>
                    {% else %}
                        <span class="label label-important" style="position: relative; right: 0px; top: 0px;">OFF</span>
                    {% endif %}
                    </a>

                </li>
            {% endif %}
        {% endfor %}
    </ul>


    </div>
{% endif %}