{% set callContactMiniumNumUsersToHide = 4 %}
{% if users is defined %}
    <script type="text/javascript">
        var callContactMiniumNumUsersToHide = {{ callContactMiniumNumUsersToHide }};
        var callNumContacts = {{ numUsers }};
    </script>
    <div class="hide callLoading1">
        <div class="progress progress-striped">
            <div class="bar" style="width: 100%;"></div>
        </div>
    </div>

    <div style="min-height: 111px; display:none;" id="contentVideoconferencehtml5MyCamera">


        <div id="publisherPrototype" style="height: 123px;width: 220px; margin-bottom: 4px" class="hide"></div>
        <div id="publisher" style="height: 123px;width: 220px;margin-bottom: 4px "></div>
    </div>


<br>
    <h6 class="widget-name"><i class="icon-search"></i>Usuarios</h6>
    <div style="width: 100%; min-height: auto; height: auto;"><input class="search contactlistsearch" value="" placeholder="Búsqueda" style="width:184px; color: rgb(102, 102, 102);"></div>
    <ul class="user-links secondary-nav-menu">
        {% for user in users %}
            {% if user.id != app.user.id %}
            <li
                        data-id="{{ user.id }}"
                        data-show="1"
                        data-status="0"
                        {# data-image="{{ user.webPath  }}" #}
                        data-name="{{ user.name }}"
                        data-surname="{{ user.surname }}"
                        data-fullname="{{ user.name|lower }} {{ user.surname|lower }}"
                        {% if user.hasRole('ROLE_PROFESIONAL') %}
                            data-role="profesional"
                        {% elseif user.hasRole('ROLE_COLLABORATOR') %}
                            data-role="collaborator"
                        {% else %}
                            data-role="client"
                        {% endif %}

                        {% if numUsers > callContactMiniumNumUsersToHide %}
                            class="hide"
                        {% endif %}
                        >
                    <a class="">
                        {% if user.hasRole('ROLE_PROFESIONAL') %}
                            <i class="icon-star"></i>
                        {% elseif user.hasRole('ROLE_COLLABORATOR') %}
                            <i class="icon-headphones"></i>
                        {% else %}
                            <i class="icon-user"></i>
                        {% endif %}
                        {{ [user.name," ", user.surname]|join|truncate(14) }}
                        <strong>
                        {% if iOSApp is defined and iOSApp == true %}
                            <span class="label label-important"
                                  style="float:right; margin-top: 10px; margin-right: 17px;">OFF</span>
                        {% else %}
                            <span class="label label-important"
                                  style="position: relative; right: 0px; top: 0px;">OFF</span>
                        {% endif %}
                        </strong>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% if users is not empty %}
        {% if app.user.hasRole('ROLE_PROFESIONAL') %}
            <li
                    data-id="guess_{{ app.user.id }}"
                    data-show="1"
                    data-status="0"
                    {# data-image="{{ user.webPath  }}" #}
                    data-name="Invitado"
                    data-surname=""
                    data-fullname="invitado"

                    data-role="guess"

                    {% if numUsers > callContactMiniumNumUsersToHide %}
                        class="hide"
                    {% endif %}
                    >
                <a>
                    <i class="icon-user"></i>
                    Invitado <strong>
                    {% if iOSApp is defined and iOSApp == true %}
                        <span class="label label-important"
                              style="float:right; margin-top: 10px; margin-right: 17px;">OFF</span>
                    {% else %}
                        <span class="label label-important"
                              style="position: relative; right: 0px; top: 0px;">OFF</span>
                    {% endif %}</strong>
                    </a>
                </div>

            </li>
        {% endif %}
        {% endif %}
    </ul>




{% endif %}