{% extends 'UserProfesionalBundle:Email:layout.html.twig' %}
{% block title %}{% endblock %}
{% block mail_title %}{% endblock %}
{% block content %}
 <p style="font-family: Georgia, &quot;Palatino-Roman&quot;, &quot;PalatinoLinotype-Roman&quot;, Times, serif;line-height: 1.8; color: #555;">Hola {{ client.name }},<br/>

 		Jose Mª. Gil-Vernet Sedó te ha añadido a su plataforma de telemedicina.<br>
 		Le enviamos en este correo para facilitarle la información necesaria para  acceder a su cuenta en la plataforma y de esta manera poder comunicarse con {{ user.name }}.<br>

          <p style="font-family: Georgia, &quot;Palatino-Roman&quot;, &quot;PalatinoLinotype-Roman&quot;, Times, serif;line-height: 1.8;color: #555;">Dirección web de la plataforma:</p>
          <a href="http://consulta.gilvernet.com/">http://consulta.gilvernet.com/</a>

          <div style="margin-left: 100px; width: 300px; box-shadow: 0px 0px 10px #444 inset; border:1px solid #333; padding: 14px; border-radius: 10px; margin-top: 30px; font-family: Georgia, &quot;Palatino-Roman&quot;, &quot;PalatinoLinotype-Roman&quot;, Times, serif; background-color: #CCC;">
          	<b>Usuario:</b> {{ client.getEmail() }}<br>
          	<b>Clave: </b> {{ pass }}
          </div>

          <p style="font-family: Georgia, &quot;Palatino-Roman&quot;, &quot;PalatinoLinotype-Roman&quot;, Times, serif;line-height: 1.8;color: #555;">
          Le recomendamos que acceda a su perfil y cambie la contraseña lo antes posible. Si tiene alguna duda contacte con {{user.name}} @ <a href="mailto:{{user.getEmail()}}">{{user.getEmail()}}</a>.
          Atentamente,</p>

          
{% endblock %}